.container_cardetails{
    margin-left: 250px;
    display: flex;;
    flex-direction: column;
}
.container_cardetails .cardetails{
    display: flex;
    flex-direction: row;
    width: 100%;
    /* align-items: center; */
    justify-content: center;
}
.container_cardetails .cardetails .left-container{
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    margin-bottom: 20px;
}
.container_cardetails .cardetails .product-image{
    /* width: 100%; */
    height: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.container_cardetails .cardetails .product-image img{
    object-fit: cover;
    width: 400px;
    height: 400px;
    border-radius: 10px;
}

.container_cardetails .cardetails .left-container .car_buttons{
    display: flex;
    flex-direction: row;
    margin: 20px;
    width: 80%;
    justify-content: space-between;
}

.container_cardetails .cardetails .left-container .car_buttons button{
    width: 49%;
    height: 55px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-size: 23px;
    font-weight: 400;
}

.container_cardetails .cardetails .left-container .car_buttons .save_btn {
    background-color: #C6DE41;
    color: #121212;
    transition: background-color 0.3s ease;
  }
  
  .container_cardetails .cardetails .left-container .car_buttons .save_btn:hover,
  .container_cardetails .cardetails .left-container .car_buttons .save_btn:focus {
    background-color: #829225;
    color: #121212;
  }
  
  .container_cardetails .cardetails .left-container .car_buttons .msg_btn {
    background-color: #121212;
    border-color: #bbb7b7;
    border-style: solid;
    border-width: 2px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }
  
  .container_cardetails .cardetails .left-container .car_buttons .msg_btn:hover,
  .container_cardetails .cardetails .left-container .car_buttons .msg_btn:focus {
    background-color: #bbb7b7;
    border-color: #bbb7b7;
    border-style: solid;
    border-width: 2px;
    color: #121212;
  }

.right-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.container_cardetails .cardetails{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.container_cardetails .cardetails .right-container{
    /* background-color: #242424; */
    width: 41rem;
    min-height: 40rem;
    margin: 20px;
}

.container_cardetails .cardetails .right-container h1{
    color: #fff;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 0px;
    padding: 20px;


}

.container_cardetails .cardetails .right-container h2{
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-top: 0px;
}

.container_cardetails .cardetails .right-container h2 .price{
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 20px;
    padding: 10px;
}

.container_cardetails .cardetails .right-container .content_specifications{
    padding: 10px;
    padding-top: 20px;
    margin-bottom: 20px;
    background-color: #232323;
    width: 100%;
    border-radius: 10px;
    background: radial-gradient(circle, #232323, #181717);

}

.container_cardetails .cardetails .right-container .content_specifications .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Two columns with equal width */
    grid-gap: 5px; /* Gap between grid items */
    color:#bbb7b7;
    font-size: 17px;
  }
  
  .container_cardetails .cardetails .right-container .content_specifications  .grid-item {
    /* background-color: #f2f2f2; */
    padding: 7px;
    padding-top: 15px;
    padding-bottom: 15px;
    /* padding-left: 0; */
    /* text-align: center; */
  }

.container_cardetails .back_button{
    margin-left:20px;
    color: #fff;
    cursor: pointer;
}

.container_cardetails .back_button span{
    padding: 0px 15px;
}