/* .form_container{
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 2em 4em;
  background-color: #242424;
  border-radius: 2em;
} */
.form_container form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.mb-3{
  width: 30em;
}
.form_container .form-control{
  background-color: rgba(21, 21, 21, 0.5) !important;
  color: #fff;
  height: 50px;
}
.form_container .form-control:focus{
  color: #fff;
  /* border-color: #C6DE41 !important; */
  box-shadow: 0 0 0 0.25rem rgba(198, 222, 65, 0.2); 
}

.form_container .btn-primary{
  background-color: #C6DE41;
  color: #070707;
  margin: 2em 0; 
  width: 100%; 
}

.form_container .btn-primary:hover{
  background-color: hsl(69, 90%, 24%);
  color:#070707;
}

.form_container select{
  background-color: rgba(21, 21, 21, 0.5) !important;
  color: #fff;
  height: 50px;
}

.form_container option:hover{
  background-color: #070707;
}

.form_container select:focus{
  box-shadow: 0 0 0 0.25rem rgba(198, 222, 65, 0.2);
}
/* 
option :checked{
  background-color: #C6DE41 !important;
} */