.container-userprofile{
    margin-left: 250px;
}

.container-userprofile .user-profile{
    margin-top: 80px;
}

.container-userprofile .user-profile .profile-header{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    margin-bottom: 20px;
}

.container-userprofile .user-profile .profile-header .profile-img{
    width: 30%;
    display: flex;
    justify-content: center;
}

.container-userprofile .user-profile .profile-header .profile-img img{
    width: 230px;
    height: 230px;
    border-radius: 50%;
}


.container-userprofile .user-profile .profile-header .user-name h2{
    font-size: 50px;
    font-weight: 600;
    color: aliceblue;
}

.container-userprofile .personal-info{
    margin-left: 30%;
    padding: 20px;
    padding-bottom: 0px;
    padding-right: 0%;
    border-width: 1px;
    border-style: solid;
    border-color: #b0b0b0;
    color: rgb(224, 224, 224);
    border-radius: 10px;
    width: 60%;
}

.container-userprofile .personal-info h4{
    padding: 10px;
    font-size: 30px;
}

.container-userprofile .personal-info .info{
    padding: 20px;
}

.container-userprofile .personal-info .info p span{
    font-size: 20px;
    font-weight: 500;
    margin-right: 10px;
    color: rgb(224, 224, 224);
}

.container-userprofile .personal-info .info p{
    font-size: 20px;
    font-weight: 400;
    padding: 5px;
    color: rgb(168, 168, 168);
}

.container-userprofile .personal-info .edit-div{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.container-userprofile .personal-info .edit-btn{
    padding: 5px 20px;
    padding-right: 20px;
    display: flex;
    align-content: center;
    background-color: #070707;
    border-radius: 10px 0 10px 0;
    color: rgb(168, 168, 168);
    font-size: 18px;
}
.container-userprofile .personal-info .edit-btn .icon{
    padding-right: 5px;
}
.container-userprofile .personal-info .edit-btn .content-btn{
    padding-top: 2px;
}
.container-userprofile .personal-info .edit-btn:hover{
    font-size: 20px;
    padding-top: 3.5px;
    padding-bottom: 3.5px;
    transition: 0.2s;
}