.App{
  min-height: 100vh;
  min-width: 100vw;
  background-color: #070707;
  overflow-x: hidden;
}

.container__div{
  min-height: 100vh;
  min-width: 100vw;
  /* margin: left 250px; */
}

.content__section{
  background-color: #070707;
  color: #fff;
  padding: 50px 20px;
}

/* .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */


